langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
pydantic>=2.0
fastapi
uvicorn
chromadb
typer
python-dotenv
pip-audit
sqlalchemy
rq
redis
psycopg2-binary
qdrant-client
langchain-qdrant
langchain-huggingface
sentence-transformers
tenacity
requests
